*.class

.cache
.classpath
.project
.settings
.lib/
.gradle/
dist/*
target/
build/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*.log

# Scala-IDE
.scala_dependencies
.worksheet

# IntelliJ
.idea
.idea_modules/
/journal
/bin/
out/
*.iml
*.ipr
*.iws
/projectFilesBackup/

# Android
/app/src/android/gen/
/captures/
/local.properties

# Werker
_builds/
_cache/
_projects/
_steps/